:root {
  --color-darkblack: #0d100f;
  --color-black: #333333;
  --color-gray: #b8b5b5;
  --color-lightgray: #eeeeef;
  --color-mercury: #e1e1e1;
  --color-white: #ffffff;
  --color-blue: #2e7f98;
  --color-lightblue: #2fbcd3;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* CSS Reset for unordered lists */
ul {
  margin: 0;
  padding: 0;
  list-style: none; /* 移除列表前的圓點 */
}

li {
  margin: auto;
  padding: auto;
}



html,
body {
  background-color: var(--color-white);
  font-family: "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.container .row {
    display: flex;

    flex-wrap: wrap;
  }
  
  .container .row .col-md-6 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 50%;
  }
  
  /* 適用於 #map 的樣式 */
  #map {
    height: 400px; /* 高度設定 */
  }
  
  /* 全視窗高度的 .vh 類別設定 */
  .vh {
    height: 100vh;
  }
  

  /* 下載 ping 圖片用按鈕 */
  .downloadBtn {

      font-size: 21px;
      line-height: 25px;
      color: var(--color-lightblue);
      padding: 10px 24px;
      border: 2px solid var(--color-lightblue);
      border-radius: 6px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;


  }

  .downloadBtn:hover {
      color: var(--color-white);
      background-color: var(--color-lightblue);
      border: 2px solid var(--color-lightblue);
  }

  
.contact .contact-info{
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.contact .contact-info:hover {

  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 3em;
  color: #000000 ;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover{
  border-color: #ffffff2f ;
}

.button:hover:active {
  border-color: #ffffff2f ;
}



/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

  table tbody tr {
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-left: 0;
    border-right: 0;
  }

    table tbody tr:nth-child(2n + 1) {
      background-color: rgba(255, 255, 255, 0.05);
    }

  table td {
    padding: 0.75em 0.75em;
  }

  table th {
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }

  table thead {
    border-bottom: solid 2px rgba(255, 255, 255, 0.15);
  }

  table tfoot {
    border-top: solid 2px rgba(255, 255, 255, 0.15);
  }

  table.alt {
    border-collapse: separate;
  }

    table.alt tbody tr td {
      border: solid 1px rgba(255, 255, 255, 0.15);
      border-left-width: 0;
      border-top-width: 0;
    }

      table.alt tbody tr td:first-child {
        border-left-width: 1px;
      }

    table.alt tbody tr:first-child td {
      border-top-width: 1px;
    }

    table.alt thead {
      border-bottom: 0;
    }

    table.alt tfoot {
      border-top: 0;
    }



/* 行動裝置版 */
@media screen and (max-width: 768px){
  body{
    background:green;
  }
  .contact{
    background: #e11b1b;
  }
}